<div class="container">
    <nav class="article">
            <article>
              <h1></h1>
                <ul class="row">
                  <li class="col-sm-6 col-md-3">contents11</li>
                  <li class="col-sm-6 col-md-3">contents12</li>
                  <li class="col-sm-6 col-md-3">contents13</li>
                  <li class="col-sm-6 col-md-3">contents14</li>
                </ul>
            </article>
            <article>
              <h1></h1>
                <ul class="row">
                  <li class="col-sm-6 col-md-3">contents21</li>
                  <li class="col-sm-6 col-md-3">contents22</li>
                  <li class="col-sm-6 col-md-3">contents23</li>
                  <li class="col-sm-6 col-md-3">contents24</li>
                </ul>
            </article>
        </ul>
    </nav>
</div>
